<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"  href="../static/css/nprogress.css" th:href="@{../css/nprogress.css}">
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{../css/style.css}">
<link rel="stylesheet" type="text/css"  href="../static/css/font-awesome.min.css" th:href="@{../css/font-awesome.min.css}">
<link rel="apple-touch-icon-precomposed" href="../static/images/icon1.jpg" th:href="@{../images/icon1.jpg}">
<link rel="shortcut icon" href="../static/images/icon1.jpg" th:href="@{../images/icon1.jpg}">
<body>

<!--管理员顶部-->
<!--<nav th:replace="_fragments.html :: admin-menu"></nav>-->
<nav th:fragment="admin-menu" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                    <h1 class="logo hvr-bounce-in">
                        <img src="../static/images/icon1.jpg" alt="头像图片" th:src="@{../images/icon1.jpg}" width="50" height="50">
                        <a title="首页" href="#" th:href="@{/index}">&nbsp&nbsp个人知识分享系统
                        </a></h1>
                </div>


            <div class="collapse navbar-collapse" id="header-navbar">
                <form class="navbar-form visible-xs" action="/Search" method="post">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
                        <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-cont="首页" title="首页" href="#" th:href="@{/admin/adminindex}">首页</a></li>
                    <li><a data-cont="博客管理" title="博客管理" href="#" th:href="@{/admin/blogs}">博客管理</a></li>
                    <li><a data-cont="分类管理" title="分类管理" href="#" th:href="@{/admin/types}">分类管理</a></li>
                    <li><a data-cont="标签管理" title="标签管理" href="#" th:href="@{/admin/tags}">标签管理</a></li>
                    <li><a data-cont="注销" title="注销" href="#" th:href="@{#}">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</nav>

<!--管理员顶部-->
<!--<nav th:replace="_fragments.html :: admin"></nav>-->
<nav th:fragment="admin" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <header class="header">
        <nav class="navbar navbar-default" id="navbar">
            <div class="container">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                        <h1 class="logo hvr-bounce-in">
                            <img src="../static/images/icon1.jpg" alt="头像图片" th:src="@{../images/icon1.jpg}" width="50" height="50">
                            <a title="首页" href="#" th:href="@{/index}">&nbsp&nbsp个人知识分享系统
                            </a></h1>
                    </div>


                    <div class="collapse navbar-collapse" id="header-navbar">
                        <form class="navbar-form visible-xs" action="/Search" method="post">
                            <div class="input-group">
                                <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
                                <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-cont="首页" title="首页" href="#" th:href="@{/admin/adminindex}">首页</a></li>
                            <li><a data-cont="博客管理" title="博客管理" href="#" th:href="@{/admin/blogs}">博客管理</a></li>
                            <li><a data-cont="分类管理" title="分类管理" href="#" th:href="@{/admin/types}">分类管理</a></li>
                            <li><a data-cont="标签管理" title="标签管理" href="#" th:href="@{/admin/tags}">标签管理</a></li>
                            <li><a data-cont="注销" title="注销" href="#" th:href="@{#}">注销</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>
</nav>

<!--首页顶部-->
<!--<nav th:replace="_fragments.html :: common-menu"></nav>-->
<nav th:fragment="common-menu" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <header class="header">
        <nav class="navbar navbar-default" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                    <h1 class="logo hvr-bounce-in">
                        <img src="../static/images/icon1.jpg" alt="头像图片" th:src="@{../images/icon1.jpg}" width="50" height="50">
                        <a title="首页" href="#" th:href="@{/index}">&nbsp&nbsp个人知识分享系统
                    </a></h1>
                </div>


                <div class="collapse navbar-collapse" id="header-navbar">
                    <form class="navbar-form visible-xs" action="/Search" method="post">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
                            <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-cont="首页" title="首页" href="#" th:href="@{/index}">首页</a></li>
                        <li><a data-cont="留言板" title="留言板" href="#" th:href="@{#}">留言板</a></li>
                        <li><a data-cont="关于我" title="关于我" href="#" th:href="@{#}">关于我</a></li>
                        <li><a data-cont="注册" title="注册" href="#" th:href="@{/reg}">注册</a></li>
                        <li><a data-cont="登录" title="登录" href="#" th:href="@{/admin}">登录</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</nav>
<!--登录后首页顶部-->
<!--<nav th:replace="_fragments.html :: common-menu"></nav>-->
<nav th:fragment="common" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <header class="header">
        <nav class="navbar navbar-default" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                    <h1 class="logo hvr-bounce-in">
                        <img src="../static/images/icon1.jpg" alt="头像图片" th:src="@{../images/icon1.jpg}" width="50" height="50">
                        <a title="首页" href="#" th:href="@{/index}">&nbsp&nbsp个人知识分享系统
                        </a></h1>
                </div>


                <div class="collapse navbar-collapse" id="header-navbar">
                    <form class="navbar-form visible-xs" action="/Search" method="post">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
                            <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-cont="首页" title="首页" href="#" th:href="@{/index}">首页</a></li>
                        <li><a data-cont="留言板" title="留言板" href="#" th:href="@{#}">留言板</a></li>
                        <li><a data-cont="关于我" title="关于我" href="#" th:href="@{#}">关于我</a></li>
                        <li><a data-cont="注销" title="注销" href="#" th:href="@{/#}">注销</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</nav>

</body>
<script type="text/javascript"  src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script  type="text/javascript" th:src="@{../js/jquery.ias.js}"></script>
<script  type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>


</html>