<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文章详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css"    th:href="@{../css/bootstrap.min.css} ">
    <link rel="stylesheet" type="text/css" th:href="@{../css/nprogress.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/font-awesome.min.css}">
    <link rel="apple-touch-icon-precomposed" th:href="@{../images/icon1.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{../images/money.png}">
    <link rel="shortcut icon" href="../static/images/icon1.jpg" th:href="@{../images/icon1.jpg}">

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/jquery.lazyload.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/nprogress.js}"></script>


    <!--[if gte IE 9]>
  <script src="../resource/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="../resource/static/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="../resource/static/js/respond.min.js" type="text/javascript"></script>
  <script src="../static/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
    <!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>
<body class="user-select single">
    <header class="header">
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
            <header class="header">
                <nav class="navbar navbar-default" id="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                            <h1 class="logo hvr-bounce-in">
                                <img src="../static/images/icon1.jpg" alt="头像图片" th:src="@{../images/icon1.jpg}" width="50" height="50">
                                <a title="首页" href="#" th:href="@{/index}">&nbsp&nbsp个人知识分享系统
                                </a></h1>
                        </div>


                        <div class="collapse navbar-collapse" id="header-navbar">
                            <form class="navbar-form visible-xs" action="/Search" method="post">
                                <div class="input-group">
                                    <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
                                    <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a data-cont="首页" title="首页" href="#" th:href="@{/admin/userindex}">首页</a></li>
<!--                                &lt;!&ndash;<li><a data-cont="博客管理" title="博客管理" href="#" th:href="@{/admin/blogs}">博客管理</a></li>&ndash;&gt;
                                <li><a data-cont="分类管理" title="分类管理" href="#" th:href="@{/types/-1}">分类</a></li>
                                <li><a data-cont="标签管理" title="标签管理" href="#" th:href="@{/tags/-1}">标签</a></li>
                                <li><a data-cont="归档" title="归档" href="#" th:href="@{/archives}">归档</a></li>
                                <li><a data-cont="注销" title="注销" href="#" th:href="@{/admin/logout}">注销</a></li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </nav>
</header>
    <section class="container">
  <div class="content-wrap">
    <div class="content">
      <header class="article-header">
        <h1 class="article-title">
            <a href="#" title="标题" th:text="${blog.title}">标题</a></h1>
        <div class="article-meta">
            <span class="item article-meta-time">
          <time class="time" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="发表时间：">
              <i class="glyphicon glyphicon-time" th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></i></time>
          </span>
            <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="来源">
            <i class="glyphicon glyphicon-globe" th:text="${blog.user.nickname}">姓名</i> </span>
            <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="#">
                <i class="glyphicon glyphicon-list"></i>
                <a href="#" title="type"  th:text="${blog.type.name}">类型</a></span>
            <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="浏览量：">
                <i class="glyphicon glyphicon-eye-open" th:text="${blog.views}"></i> </span>
            <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="评论量">
                <i class="glyphicon glyphicon-comment"></i> 4</span> </div>
      </header>
      <article class="article-content">
        <p><img data-original="#" th:src="@{${blog.firstPicture}}" alt="" /></p>



        <!--中间主要内容部分-->
          <div id = "content" th:utext="${blog.content}">

        </div>
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>

              <script th:inline="none">                  window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "32" }, "share": {} };
              with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
      </article>
      <div class="article-tags">标签：
          <a href="#" rel="tag" th:each="tag : ${blog.tags}" th:text="${tag.name}">标签</a>

        </div>
<!--        <div class="article-tags">标签：
          <button type="button">sad</button>

        </div>-->
     <!-- <div class="relates">
        <div class="title">
          <h3>相关推荐</h3>
        </div>
        <ul>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
          <li><a href="http://www.muzhuangnet.com/show/269.html" title="" >用DTcms做一个独立博客网站（响应式模板）-MZ-NetBlog主题</a></li>
        </ul>
      </div>-->
<!--        <div align="center">
          <button type="button" onclick="showImg()">Click Me!</button>
          <div class="bg_img" style="background:#e01705;opacity:0.8;display:none;position:fixed;width:100%;height:100%;"></div>
          <img class="img" th:src="@{../images/appreciate.png}" onerror="javascript:this.src='src/images/appreciate.png';this.onerror = null"
            style="display:none;position:absolute;top:10%;left:0;width:30%"/>
           &lt;!&ndash; <img src="../static/images/appreciate.png" alt="头像图片" th:src="@{../images/appreciate.png}" width="50" height="50">&ndash;&gt;
        </div>-->
        <div align="center">
            <input type="button"  class="btn btn-primary" value="赞赏" id="bt"/>
        </div>
        <div align="center">
            <img src="#" alt="" id="im" />
        </div>

        <!--留言区域列表-->
        <div id="comment-container"  class="ui teal segment">
            <div th:fragment="commentList">
                <div class="" style="max-width: 500%;">
                    <h3 class="ui dividing header">建议</h3>
                    <div class="comment" th:each="comment : ${comments}">
                        <div class="" >
                                <a class="avatar">
                            <img src="#" th:src="@{${comment.avatar}}"  width="80px"  height="80px" >
                                </a>
                            <a class="author"  style="text-align: right">
                                <span th:text="${comment.nickname}">Matt</span>
                                <span>&nbsp&nbsp</span>
                                <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">
                                   Today at 5:42PM</span>
                                <div class="" th:if="${comment.adminComment}">博主</div>
                            </a>
                        <!--    <div class="metadata" style="text-align: right">
                                <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                            </div>-->
                            <div class="text" >
                                <span>&nbsp&nbsp</span>
                                <p th:text="${comment.content}"> How artistic!</p>
                            </div>
                            <br>
                            <div class="actions" style="text-align: right">
                                <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                   th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"
                                   onclick="reply(this)">回复</a>
                            </div>
                        </div>
                        <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                            <div class="comment" th:each="reply : ${comment.replyComments}">
                                <a class="avatar">
                                    <!--<img src="" th:src="@{${reply.avatar}}" width="80px"  height="80px">-->
                                </a>
                                <div class="">
                                    <a class="author" style="text-align: right">
                                        <span th:text="${reply.nickname}">小红</span>
                                        <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>
                                        &nbsp;<span th:text="|@ ${reply.parentComment.nickname}|" class="m-teal">@ 小白</span>
                                        <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                    </a>
                                    <div class="metadata">
                                        <!--<span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>-->
                                    </div>
                                    <div class="text" th:text="${reply.content}">
                                        How artistic!
                                    </div>
                                    <div class="actions"  style="text-align: right">
                                        <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/*-->
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                    <a class="avatar">
                        <img src="https://unsplash.it/100/100?image=1005">
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">5 days ago</span>
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>
                        <div class="actions">
                            <a class="reply">回复</a>
                        </div>
                    </div>
                </div>
                    <!--*/-->

                </div>
            </div>
        </div>






        <!--评论功能-->
        <div id="respond">
            <form id="ui form" name="ui form" action="" method="POST" class="ui form" >
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" th:value="-1">
                <div class="comment">
                    <input  name="nickname" class="form-control" size="22" placeholder="您的昵称（必填）"
                            maxlength="15" autocomplete="off" tabindex="1" type="text"
                            th:value="${session.user}!=null ? ${session.user.nickname}">
                    <input  name="email" class="form-control" size="22" placeholder="您的网址或邮箱（必填）"
                            maxlength="58" autocomplete="off" tabindex="2" type="text"
                            th:value="${session.user}!=null ? ${session.user.email}">
                    <div class="comment-box">
                        <textarea placeholder="您的评论或建议（必填）"  class="form-control" name="content"
                                  id="content" cols="100%" rows="3" tabindex="3"></textarea>
                        <div class="comment-ctrl">
                            <button type="button" name="commentpost-btn" id="commentpost-btn" tabindex="4" class="btn btn-primary" onclick="return myFunction()">评论</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
  <aside class="sidebar">
      <div class="fixed">
          <div class="widget widget_search">
              <form class="navbar-form" action="/Search" method="post">
                  <div class="input-group">
                      <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
                      <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
              </form>
          </div>
          <div class="widget widget-tabs">
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" >联系站长</a></li>
                  <!--<li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" >联系站长</a></li>-->
              </ul>
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane contact active" id="notice">
                      <h2>QQ:
                          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1548751874&amp;site=qq&amp;menu=yes" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""  data-original-title="QQ:15487851874">1548751874</a>
                      </h2>
                      <h2>Email:
                          <a href="mailto:1548751874@qq.com" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title=""  data-original-title="Email:577211782@qq.com">jie1548751874@qq.com</a></h2>
                  </div>
                  <!--            <div role="tabpanel" class="tab-pane contact" id="contact">
                                <h2>QQ:
                                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=577211782&amp;site=qq&amp;menu=yes" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""  data-original-title="QQ:15487851874">1548751874</a>
                                </h2>
                                <h2>Email:
                                <a href="mailto:577211782@qq.com" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title=""  data-original-title="Email:577211782@qq.com">jie1548751874@qq.com</a></h2>
                            </div>-->
              </div>
          </div>
      </div>
      <!--相关推荐-->
    <div class="widget widget_hot">
          <h3>最新文章</h3>
          <ul th:each="blog : ${page.content}">
            
<li><a   th:href="@{/blog/{id}(id=${blog.id})}" >
    <span class="thumbnail">
    <img class="thumb" data-original="#" src="#" th:src="@{${blog.firstPicture}}" alt="#"  style="display: block;" >
</span>
    <span class="text" th:text="${blog.title}">标题</span>
    <span class="muted" >
    <i class="glyphicon glyphicon-time" th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}" >2016-06-01</i>

</span>
    <span class="muted" ><i class="glyphicon glyphicon-eye-open" ></i><span  th:text="${blog.views}"></span></span></a></li>



          </ul>
      </div>
  </aside>
</section>
<!--    <footer class="footer">
  <div class="container">
     <p>本站 作者fzzzjjj~Powered By Springboot and Bootstrap </p>
  </div>-->
  <div id="gotop"><a class="gotop"  href="#"></a>

  </div>
</footer>
    <!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script  type="text/javascript" th:src="@{/js/jquery.ias.js}"></script>
    <!--<script  type="text/javascript" th:src="@{/js/scripts.js}"></script>-->
    <script  type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>


    <script th:inline="javascript">

        //评论表单验证
        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '请`输入评论内容'
                    }
                    ]
                },
                content: {
                    identifier: 'nickname',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入你的大名'
                    }]
                },
                type: {
                    identifier: 'email',
                    rules: [{
                        type: 'email',
                        prompt: '请填写正确的邮箱地址'
                    }]
                }
            }
        });

        $(function () {
            $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/6");
        });

        function myFunction(){
            var x=document.forms["ui form"]["nickname"].value;
            var z=document.forms["ui form"]["email"].value;
            var y=document.forms["ui form"]["content"].value;

            if(x=null||x=="")
            {
                alert("请输入名字！！");
                return false;
            }

            if(z=null||z=="")
            {
                alert("请输入邮箱！！");
                return false;
            }
            if(y=null||y=="")
            {
                alert("请输入评论内容！！");
                return false;
            }


        }


        $('#commentpost-btn').click(function () {
            var boo = $('.ui.form').form('validate form');
            if (boo) {
                console.log('校验成功');
                alert("评论成功");
                postData();
            } else {
                console.log('校验失败');
            }

        });

        function postData() {
            $("#comment-container").load(/*[[@{/comments}]]*/"",{
                "parentComment.id" : $("[name='parentComment.id']").val(),
                "blog.id" : $("[name='blog.id']").val(),
                "nickname": $("[name='nickname']").val(),
                "email"   : $("[name='email']").val(),
                "content" : $("[name='content']").val()
            },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#comment-container'),500);
                clearContent();
            });
        }

        function clearContent() {
            $("[name='content']").val('');
            $("[name='parentComment.id']").val(-1);
            $("[name='content']").attr("placeholder", "请输入评论信息...");
        }


        function reply(obj) {
            var commentId = $(obj).data('commentid');
            var commentNickname = $(obj).data('commentnickname');
            $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
            $("[name='parentComment.id']").val(commentId);
            $(window).scrollTo($('#comment-form'),500);
        }

        function showImg(){
            $('.bg_img').show();
            $('.img').show();
        }
        $('.bg_img').click(function(){
            $('.bg_img').hide();
            $('.img').hide();
        });


         //根据id获取按钮
        var btObject = document.getElementById("bt");
          //为按钮注册点击事件,添加事件处理函数
          btObject.onclick = function () {
                 //根据id获取图片标签,设置图片的src属性值
                var imObject = document.getElementById("im");
               imObject.src = "../images/appreciate.png";
                 //设置图片大小
                imObject.width = "300";
                 imObject.height = "400";
             };
    </script>
</body>
</html>
